@model MaouHeroLanding.Models.Compras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artigo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artigo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encomenda.Local_entrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encomenda.Local_entrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    <!--@Html.ActionLink("Back to List", "Index","Compras", new { id = Convert.ToInt32(System.Web.HttpContext.Current.Session["encomenda"]) })-->
</p>
