@model IEnumerable<MaouHeroLanding.Models.Artigos>

@{
    ViewBag.Title = "Index";
}

<h2>Artigos</h2>
@if (User.IsInRole("gestor"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
} 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produtor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Entrada)
            </td>
            <td>
                <img src="~/imagens/@item.imagem" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produtor)
            </td>
            <td>
                @if (User.IsInRole("gestor"))
                {<text>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                </text>}

                @Html.ActionLink("Details", "Details", new { id = item.ID }) 

                @if (User.IsInRole("gestor"))
                {<text>
                       | @Html.ActionLink("Delete", "Delete", new { id = item.ID }) 
                </text>}
            </td>
        </tr>
    }

</table>
